@using WebProgramlamaAraProje.Models
@model IQueryable<Announcement>

@{
    ViewData["Title"] = "Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<br />
<br />
<br />
<br />

<div class="learn-courses">
    <div class="container">
        <div class="courses">
            <div class="owl-one owl-carousel">

                @foreach (var x in Model)
                {
                    @await Html.PartialAsync("~/Views/Components/AnnouncementSideBarCompcshtml.cshtml", x);
                }




            </div>
        </div>
    </div>
</div>


