@using WebProgramlamaAraProje.Models
@model IQueryable<Announcement>

@{
    ViewData["Title"] = "Announcement";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<br />
<br />
<br />
<br />

<div class="learn-courses">
    <div class="container">
        <div class="courses">
            <div class="owl-one owl-carousel">

                @foreach (var x in Model)
                {

                    <div class="box-wrap" itemprop="event" itemscope itemtype=" http://schema.org/Course">
                        <div class="img-wrap" itemprop="image"><img src="~/edulab/images/course-pic.jpg" alt="courses picture"></div>
                        <a href="#" class="learn-desining-banner" itemprop="name">Learn Web Designing >>></a>
                        <div class="box-body" itemprop="description">
                            <p>@x.DuyuruIcerik</p>
                            <section itemprop="time">
                                <p><span>Duration:</span> 4 Years</p>
                                <p><span>Class Time:</span> 6am-12am / 11am-5pm</p>
                                <p><span>Fee:</span> 4,00,000</p>
                            </section>
                        </div>
                    </div>

                }




            </div>
        </div>
    </div>
</div>


