
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <div class="owl-four owl-carousel" itemprop="image">
        <img src="~/edulab/images/slider3.jpg" alt="Image of Bannner" width="1200" height="600">
        <img src="~/edulab/images/slider.jfif" alt="Image of Bannner" width="1200" height="600">
        <img src="~/edulab/images/slider2.jpg" alt="Image of Bannner" width="1200" height="600">
    </div>
    <div class="container" itemprop="description">
        <h1>Welcome To Duzce University</h1>-->
        <h3>With our advance search feature you can now find the trips for you...</h3>
    </div>
    <div id="owl-four-nav" class="owl-nav"></div>
</div>

